# =============================
# Ignore Visual Studio folders
# =============================

ipch/
MA_Bullet/Release/
MA_Bullet/Debug/
.vs/

# =============================
# Ignore Visual Studio files
# =============================

*.sdf
*.suo
*.opensdf

# =============================
# Ignore Bullet library
# =============================

bullet
