# =============================
# Ignore Visual Stuidio folders
# =============================

ipch/
Release/
Debug/
.vs/

# =============================
# Ignore Visual Studio files
# =============================

*.sdf
*.suo
*.opensdf

# =============================
# Ignore Bullet library
# =============================

bullet
